@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Open Sans, sans-serif;
  line-height: 1.5em;
  font-size: 1em;
  color: #555;
  background-color: #ea5e4f;
}

h1#headline {
  font-family: Open Sans;
  text-align: center;
  margin-top: 1em;
  color: white;
  font-size: 2em;
  letter-spacing: 0.05em;
}

.credit {
  position: absolute;
  right: 0.5em;
  top: 0.25em;
  font-size: 0.75em;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.credit a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #444;
}

.credit a:hover {
  border-width: 3px;
}

#block {
  width: 90%;
  max-width: 330px;
  margin: 30px auto;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
}

#list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: rgba(234, 94, 79, 0.9);
  color: white;
  font-size: 16px;
  padding: 1em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  border-radius: 5px;
  width: 90%;
  outline: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #ea5e4f;
}

.disabled {
  background: #eee;
  cursor: auto;
}

input {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

input[type="text"] {
  padding: 1em;
  border-radius: 4px;
  outline: none;
  border: 1px solid #e4e4e4;
  width: 90%;
  margin: 0 1em 1em;
  position: relative;
  z-index: 2;
}
input[type="text"]:after {
  position: absolute;
  display: block;
  top: 4px;
  right: 4px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 3;
}

input[type="checkbox"] {
  margin: 1em 0.5em;
}

/* List component */
#block ol {
  list-style: none;
  margin: 0;
  padding: 0 15px 15px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

#block ol li {
  display: flex;
  padding: 10px 4px;
}

#block ol li:not(:last-child) {
  border-bottom: 1px solid #EEE;
}

#block ol li:hover {
  -webkit-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
  box-shadow: 0 30px 20px -10px #ea5e4f;
  cursor: pointer;
}
#block ol li:hover p {
  color: white;
}

/*list item image wrapper*/
#block ol img {
  flex-shrink: 0;
  height: 100px;
  border-radius: 10%;
  margin-right: 15px;
}

/*list item content*/
#block ol p {
  flex-grow: 1;
  padding: 0 0.5em;
  margin-top: 0.25em;
  color: #000;
  margin-bottom: 0;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  padding: 10px 0;
  color: #666;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: #000;
}

nav .fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #D33D56;
  z-index: 1000;
}
nav .fixed a { color: #fff; }

@media only screen and (max-width: 767px) {
    /* phones */
    h1#headline {
        font-size: 1.75em; 
		margin-top: 1.75em;
}
}