@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: Open Sans, sans-serif;
  line-height: 1.5em;
  color: #555;
  background-color: #5B9EED;
}

h1#headline {
  font-family: Open Sans;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 1em;
  color: white;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.credit {
  position: absolute;
  right: 0.5vw;
  top: 1vw;
  max-width: 25vw;
  font-size: 0.75em;
  font-family: "Open Sans", sans-serif;
  color: white;
}
.credit a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #444;
}
.credit a:hover {
  border-width: 3px;
}

#block{
	width: 90%;
  max-width: 350px;
	margin: 30px auto;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.2);
}

button {
  background: rgba(#5B9EED, 0.9);
  color: white;
  padding: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  border-radius: 5px;
  width: 94%;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background: rgba(#5B9EED, 1);
}
// #block button
// {
// 	position: relative;
// 	padding: 0.5em 1.25em;
//   margin: 0px 10px 10px 0px;
//   // float: left;
// 	border-radius: 8px;
// 	font-size: 1em;
// 	color: #FFF;
// 	text-decoration: none;	
// 	background-color: #3498DB;
// 	border-bottom: 4px solid #2980B9;
// 	text-shadow: 0px -2px #2980B9;
// 	transition: all 0.1s;
// 	-webkit-transition: all 0.1s;
// }
// #block button:active
// {
// 	transform: translate(0px,5px);
//   -webkit-transform: translate(0px,5px);
// 	border-bottom: 1px solid;
// }

.disabled {
  background: #eee;
  cursor: auto;
}

input {
  font-family: Open Sans, sans-serif;
}

input[type="text"] { 
  padding: 1em; 
  border-radius: 5px;
  outline: none;
  border: 1px solid #e4e4e4;
  width: 94%;
  margin: 1em;
  position: relative;
  z-index: 2;
  
  &:after {
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 3;
  }
}

input[type="checkbox"]{
  margin: 1em 0.5em;
}

/* List component */
#block ol {
    list-style: none;
    margin: 0;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#block ol li {
  display: flex;
  padding: 10px 5px;
}
#block ol li:not(:last-child){
  border-bottom: 1px solid #EEE;
}
#block ol li:hover {
    background: #3498DB;
    cursor: pointer;
    p {
      color: white;
  }
}

/*list item image wrapper*/
#block ol img {
  flex-shrink: 0;
  height: 80px;
  border-radius: 10%;
}

/*list item content*/
#block ol p {
  flex-grow: 1;
  padding: 0 20px;
  margin-top: 5px;
  color: #000;
  margin-bottom: 0;
}
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}